h1 {
    font-size: 50px;
    font-weight: 100;
    /* font-weight: 200;
    font-weight: 300;
    font-weight: 400;
    font-weight: 500;
    font-weight: 600;
    font-weight: 700;
    font-weight: 800;
    font-weight: 900; */
    /* font-style: italic; */
    font-style: normal;
}

h2{
    font-size: 30px;
    width: 730px;
    font-weight: 400;
    color: #333;
    border-radius: 20px;
    background-color: #eee;
    text-align: center;
    padding: 15px;
    letter-spacing: 30px;
}

h3{
    font-weight: 300;
    font-family: "Vazirmatn";
    font-size: 20px;
    line-height: 40px;
    word-spacing: 10px;
}